@charset "UTF-4";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Mont blanc', sans-serif;
    box-sizing: border-box;
    
}

.navbar {
  width: 100%;
  background-color: #C0BFDD;
  overflow: auto;
  
}

.navbar a {
  float: left;
  text-align: right;
  padding: 12px;
  color: #000062;
  text-decoration: none;
  font-size: 17px;
}


.navbar a:hover {
  background-color: #00006238;
  transition: 0.5s;
  border-radius: 10px;
}


.active {
  background-color: #f9a6298c;
}


@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

.title{
  margin-top: 40px;
  margin-left: 60px;
  text-align: left;
  color: #383661;
  font-size: 70px;
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%; 
    width: 40%;
    padding: 40px;
    margin-top: 200px;
    -webkit-transform: translate(-50%, -55%);
        -ms-transform: translate(-50%, -55%);
            transform: translate(-50%, -55%);
    background: #f9a6298c;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 10px;

  }


  
  .login-box p:first-child {
    margin: 0 0 30px;
    padding: 0;
    color: #000062;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #000062;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #000062;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute; 
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #000062;
    pointer-events: none;
    -webkit-transition: .5s;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #C0BFDD;
    font-size: 12px;
  }
  
  .login-box form a {
    position: relative;
    display: inline-block;
    font-weight: bold;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    -webkit-transition: .5s;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 3px;
    width: 100%;
    border-radius: 15px;
    height: 40px;
    z-index: 99;
    
  }

  .login-box form a input {
    width: 100%;
    border: none;
    background: transparent;
    font-size: large;
    font-weight: 400;
  }
  
  .login-box a:hover {
    background: #fff;
    color: #272727;
    border-radius: 5px;
  }
  
  .login-box a span {
    position: absolute;
    display: block;
  }
  
  .login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: -webkit-gradient(linear, left top, right top, from(transparent), to(#978DCC));
    background: linear-gradient(90deg, transparent, #fff);
    -webkit-animation: btn-anim1 1.5s linear infinite;
            animation: btn-anim1 1.5s linear infinite;
  }
  
  @-webkit-keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#fff));
    background: linear-gradient(180deg, transparent, #fff);
    -webkit-animation: btn-anim2 1.5s linear infinite;
            animation: btn-anim2 1.5s linear infinite;
    -webkit-animation-delay: .375s;
            animation-delay: .375s
  }
  
  @-webkit-keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: -webkit-gradient(linear, right top, left top, from(transparent), to(#fff));
    background: linear-gradient(270deg, transparent, #fff);
    -webkit-animation: btn-anim3 1.5s linear infinite;
            animation: btn-anim3 1.5s linear infinite;
    -webkit-animation-delay: .75s;
            animation-delay: .75s
  }
  
  @-webkit-keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#fff));
    background: linear-gradient(360deg, transparent, #fff);
    -webkit-animation: btn-anim4 1.5s linear infinite;
            animation: btn-anim4 1.5s linear infinite;
    -webkit-animation-delay: 1.125s;
            animation-delay: 1.125s
  }

  
  @-webkit-keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }
  
  .login-box p:last-child {
    color: #aaa;
    font-size: 14px;
  }
  
  .login-box a.a2{
    color: #fff;
    text-decoration: none;
  }
  
  .login-box a.a2:hover {
    background: transparent;
    color: #aaa;
    border-radius: 5px;
  }

  .cssbuttons-io-button {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: white;
    background: #ad5389;
    background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
    letter-spacing: 0.05em;
    border-radius: 20em;
    width: 130px;
  }

  .cssbuttons-io-button a {
    text-decoration: none;
    color: #fff;

  }
  
  .cssbuttons-io-button svg {
    margin-right: 6px;
  }
  
  .cssbuttons-io-button:hover {
    box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
  }
  
  .cssbuttons-io-button:active {
    box-shadow: 0 0.3em 1em -0.5em #14a73e98;
  }

 .img-home{
  border-color: green;
  border-style: solid;
  
 }