@charset "UTF-4";

*{
    padding: 0;
    margin: 0;
    font-family: 'Mont blanc', sans-serif;
    box-sizing: border-box;
    
    
}

body{
    background-color: #ffffff;

}

.header{
    background-color: #E0AEFF;
    background-size: cover;
    background-position: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo{
    color: #ffffff;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}


span{
    color: #000000;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a{
    color: rgb(131, 130, 130);
    text-decoration: none;
    font-size: large;
    text-transform: capitalize;

}

nav ul li a:hover{
    color: #C3FFF4;
    transition: .4s;
}


.calendar {
    width: 98%;
    margin: auto;
    font-size: 13px;
  }
  
  .calendar tr, .calendar td {
    border: 1px solid rgb(172, 240, 231);
  }
  
  .calendar th {
    padding: 10px;
    text-align: center;
    font-size: 18px;
  }
  
  .calendar td {
    width: 200px;
    height: 150px;
    padding: 20px 0px 0px 5px;
  }
  
  .month {
    font-size: 25px;
  }
  
  .date {
    font-size: 16px;
  }
  
  ul {
    height: 100%;
    padding: 0px 5px 0px 20px;
  }
  
  a {
    color: #cfa5f7;
  }


  .left {
    float: left;
  }
  
  .right {
    float: right;
  }
  
  .btn {
    outline: none;
    color: paleturquoise;
    background-color: transparent;
    box-shadow: 0 0 0 0;
  }
  
  .clearfix {
    margin: 15px;
  }

  .form {
    margin: auto;
  }
  
  .form input, .form select, .form textarea {
    border-radius: 5px;
    border: 1px solid #17a2b8;
    outline: none;
    background: none;
    padding: 5px;
    width: 100%;
  }