<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/home.css' %}">
    <title>Choose Pet!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <div class="navbar">
        <a href="{% url 'recipes:home'%}"><i class="fa fa-fw fa-home"></i> Home</a>
        <a href="{% url 'recipes:login' %}" class="fa fa-sign-out">Logout</a>

    </div>

    <div class="title">

        <a><img class="logo-home"
                src="https://raw.githubusercontent.com/bela975/PETracker/33735714a052b92ac15696326f3b398ce1924b49/img/petracker_logo.png"
                alt="logo"> PETracker</a>
        <div class="text-bemvindo">
            {% if user.is_authenticated %}
            <h2>Welcome, {{ user.username }}!</h2>
            {% endif %}
        </div>

        <!-- <div class="button-add">
            <button name="add_pet"> --> 
                <!-- tive que tirar isso pra o teste funcionar. temos que trocar ele por um botao de fato -->
                <a href="{% url 'recipes:register_pet'%}">+</a>
            <!-- </button>
        </div> -->
    </div>

    <div class="pets">

        {% for pet in pets %}
        <a href="{% url 'recipes:home_pet'%}">
            <div class="card" style="width: 18rem;">
                {% if pet.photo %}
                <img src="{{ pet.photo.url }}" class="card-img-top" alt="...">
                {% endif %}

                <div class="card-body">
                    <h5 class="card-title" id="pet_profile" name="pet_profile" >{{ pet.name }}</h5>
                    <p class="card-text">{{ pet.description }}</p>
                </div>
            </div>

        </a>


        {% endfor %}

    </div>

</body>
</html>